%pagination-item {
  display: inline-block;
  vertical-align: top;
  height: 28px;
  border-radius: $border-radius-base;
  border: 1px solid $border-color-base;
  line-height: 28px;
  text-align: center;
  min-width: 28px;
  cursor: pointer;
  user-select: none;
  // transition: all $animation-duration-slow $ease-in-out;
}

.#{$prefix}-pagination {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-size-base;
  color: $text-light;

  &-item {
    @extend %pagination-item;
    margin-right: $pagination-item-margin;
    // transition: all $animation-duration-slow;

    a {
      display: block;
    }

    &:hover {
      border-color: $brand-primary;
      color: $brand-primary;
      transition: all $animation-duration-base;
    }

    &.active {
      border-color: $brand-primary;
      color: white;
      background-color: $brand-primary;
    }

    &:disabled,
    &.is-disabled {
      cursor: not-allowed;
      color: $btn-disable-color;
      background: $btn-disable-bg;
      border-color: $btn-disable-border;
    }
  }

  &-jump-btn {
    display: inline-block;
    margin-right: $pagination-item-margin;
  }
}

.item-active {
  &.active {

  }
}
