@import '../../style/_variables';

// grid system
@mixin make-row($gutter: $grid-gutter-width) {
  position: relative;
  margin-left: ceil(($gutter - 2));
  margin-right: floor(($gutter - 2));
  height: auto;
  @extend %clearfix;
}

@mixin make-grid-columns($i: 1, $list: ".#{$prefix}-xs-#{$i}, .#{$prefix}-sm-#{$i}, .#{$prefix}-md-#{$i}, .#{$prefix}-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .#{$prefix}-xs-#{$i}, .#{$prefix}-sm-#{$i}, .#{$prefix}-md-#{$i}, .#{$prefix}-lg-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }
}


// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin float-grid-columns($class, $i: 1, $list: ".#{$prefix}-#{$class}-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .#{$prefix}-#{$class}-#{$i}";
  }
  #{$list} {
    float: left;
    flex: 0 0 auto;
  }
}


@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .#{$prefix}-#{$class}-#{$index} {
      width: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index > 0) {
    .#{$prefix}-#{$class}-push-#{$index} {
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index == 0) {
    .#{$prefix}-#{$class}-push-0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .#{$prefix}-#{$class}-pull-#{$index} {
      right: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .#{$prefix}-#{$class}-pull-0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .#{$prefix}-#{$class}-offset-#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
  }
}

// [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}


// Create grid for specific class
@mixin make-grid($class: 'col') {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
}
